@import "../../../sassStyles/mixins", "../../../sassStyles/typography";

.skills__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  bottom: 150px;
  @include mq(580px) {
    align-items: flex-start;
  }

  @include mq(760px) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    align-items: flex-end;
  }
  @include mq(1500px) {
    align-items: flex-start;
  }

  li {
    background: white;
    width: 80%;
    max-width: 450px;
    padding: 1rem;
    @include mq(580px) {
      margin-left: 50px;
    }
    @include mq(760px) {
      margin-left: 0;
      margin-right: 50px;
    }
    @include mq(1500px) {
      margin-right: 0;
      margin-left: 850px;
      max-width: 600px;
    }
    h2 {
      margin-bottom: 1.5rem;
      font-family: $ubnt;
      font-size: 2.25rem;
    }
    p {
      font-size: 1.125rem;
      font-weight: 100;
    }
  }
}
